header{
    background: lightgray;
    height:30px;
    overflow: hidden;
    width:200px;
    float:right;
}
.menu{
    height:30px;
    font: 600 14px/30px Verdana, arial;
    color:blue;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
}
header:hover{
    height:130px;
    transition: all 2s ease;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
}
header ul{
    padding:0;
}
header ul li{
    list-style: none;
    width: 100%;
    padding:0;
    text-align:center;
}
header ul li a{
    font:14px Verdana, arial;
    color:#fff;
    text-decoration: none;
    background:transparent;
    width:100%;
    display: block;
}
header ul li a:hover{
    background-color: grey;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
}
.menu{
	height: 30px;
	font: Arial;
	color: black;
	text-align: center;
	cursor: pointer;
}

.divphotos img
	{
		height: 300px;
		width: 300px;
		box-shadow: 0px 3px 5px 1px silver;
		margin: 5px;
		border-radius: 150px;
		float: left;
	}
h1	
	{
		font-family: 'Rock Salt', cursive;
		font-size: 50px;
		text-align: center;
		color: black;
        right: 0;
	}
.class1
	{
		font-family: arial;
	}
.h2
	{
		position:fixed;
	}
.divphotos2 img
	{
		height:200px;
		width:200px;
		border-radius: 150px;
		float:left;
		margin: 5px 20px 10px 10px;
	}
.ahref
	a:link {
		color:black;
	}
    a:visited {
    	color:black;
    }
    a:hover {
    	color: #009B95;
    }


.box{
    width: 600px;
    height: 400px;
    background-color: lavender;
    border: solid 1px silver;
    box-shadow: 0px 3px 5px 1px silver;
	}	
